<link rel="shortcut icon" type="image/png" href="https://github.com/CUFE-Student-Guide/CUFE-Student-Guide.github.io/blob/master/CUFE%20CHS.png?raw=true">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">

  const desiredRepo = "CUFE-Student-Guide.github.io";
  const dateTagClass = ".date"; // The HTML element you want to update
  
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function()
  {
    if (this.readyState == 4 && this.status == 200)
    {
      let repos = JSON.parse(this.responseText);
  
      repos.forEach((repo)=>{
        if (repo.name == desiredRepo)
        {
          var lastUpdated = new Date(repo.pushed_at);
          var day = lastUpdated.getUTCDate();
          var month = lastUpdated.getUTCMonth() + 1;
          var year = lastUpdated.getUTCFullYear();
          $(dateTagClass).text(`Last updated: ${year}-${month}-${day}`);
        }
      });
    }
  };
  xhttp.open("GET", "https://api.github.com/users/CUFE-Student-Guide/repos", true);
  xhttp.send();
</script>
